{% extends 'main.html' %}

{% load static %}

{% block content %}
        <!-- My Best Photos -->
        <section class="section text-center">
          <!-- Slick Carousel-->
          <div class="slick-wrap">
            <div class="slick-slider slick-style-1" data-arrows="true" data-autoplay="true" data-loop="true" data-dots="true" data-swipe="true" data-xs-swipe="true" data-sm-swipe="false" data-items="1" data-sm-items="3" data-md-items="3" data-lg-items="3" data-center-mode="true" data-lightgallery="group-slick">
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="{% static 'images/certificado-almaq.jpeg' %}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/certificado-almaq.jpeg' %}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                      </div></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href="{% static 'images/certificado-trofeu-almaq.jpeg' %}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/certificado-trofeu-almaq.jpeg' %}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                        <p class="thumb-ann__title heading-3">Certificado e Troféu</p>
                        <p class="thumb-ann__text">Empresa certificada voltada para oferecer trabalhos de usinagem e tornearia.</p>
                      </div></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href=" {% static 'images/maquina-2.jpeg' %}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/maquina-2.jpeg'%}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                        <p class="thumb-ann__title heading-3">Reforma de máquinas</p>
                        <p class="thumb-ann__text">Reforma de maquinas, desde a pintura à calibração.</p>
                      </div></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href= "{% static 'images/maquina-sbsh-2.jpeg' %}"  data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/maquina-sbsh-2.jpeg' %}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                        <p class="thumb-ann__title heading-3">Retífica de navalhas</p>
                        <p class="thumb-ann__text">Retífica de navalhas à produção.</p>
                      </div></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href= "{% static 'images/maquina-sbsh.jpeg' %}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/maquina-sbsh.jpeg' %}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                      </div></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href= "{% static 'images/item-exemplo-1.jpeg' %}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/item-exemplo-1.jpeg' %}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                        <p class="thumb-ann__title heading-3">Projetos especiais</p>
                      </div></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href= "{% static 'images/item-exemplo-2.jpeg' %}" data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/item-exemplo-2.jpeg' %}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                        <p class="thumb-ann__title heading-3">Projetos com NR</p>
                        <p class="thumb-ann__text">Fabricação, usinagem e montagem no local.</p>
                      </div></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href= "{% static 'images/usinagem.jpeg' %}"  data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/usinagem.jpeg' %}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                        <p class="thumb-ann__title heading-3">Fabricação</p>
                        <p class="thumb-ann__text">Fabricação de gabaritos.</p>
                      </div></a>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="slick-slide-inner">
                  <div class="slick-slide-caption"><a class="thumb-ann thumb-mixed_large" href= "{% static 'images/fabricacao.jpeg' %}"  data-lightgallery="item"><img class="thumb-ann__image" src="{% static 'images/fabricacao.jpeg' %}" alt="" width="961" height="664"/>
                      <div class="thumb-ann__caption"> 
                        <p class="thumb-ann__title heading-3">Usinagem</p>
                        <p class="thumb-ann__text">Retifica cilíndrica e retífica plana. Torno e fresa.</p>
                      </div></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- About Me-->
        <section class="section section-md bg-white">
          <div class="shell">
              <div class="range range-50 range-sm-center range-md-left range-md-middle range-md-reverse">
                  <div class="cell-sm-6 wow fadeInRightSmall">
                      <div class="thumb-line"><img src="{% static 'images/trofeu-almaq.jpeg' %}" alt="" width="531" height="640" />
                      </div>
                  </div>
                  <div class="cell-sm-6">
                      <div class="box-width-3">
                          <p class="heading-1 wow fadeInLeftSmall">Sobre Nós</p>
                          <div class="divider wow fadeInLeftSmall" data-wow-delay=".2s"></div>
                          <p class="wow fadeInLeftSmall" data-wow-delay=".3s" style="font-size: 30px">Empresa de usinagem e tornearia, especializada nos serviços de fresa convencional, torno, solda, manutenção de máquinas industriais e agrícolas, montagem de gabaritos, dispositivos mecânicos, usinagem de porta moldes e ferramentas de corte. </p>
                          <a class="button button-primary-outline button-ujarak button-size-1 wow fadeInLeftSmall" href="about/" data-wow-delay=".4s">Saiba Mais</a>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      

{% endblock %}